# Daemon renderer gitignore

#Temp folders
Build/
Logs/

#logs
*.bsc
*.htm

# Binaries
*.exe
*.iobj
*.ipdb
*.pdb
*.ilk
*.dmp

# Visual Studio Files
*.suo
*.csproj.user
*.vbproj.user
*.user
*.vcxproj.filters
*.vcxproj.user
*.sln.DotSettings.user
ipch
*sdf
\.vs/

#assets
*.obj
*.fbx
*.png
*.gif
*.jpg
*.mp3
*.wav
*.ogg
